<ion-view tittle = "Connect">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
	<ion-item>Conected to {{selectedDevice.name}}</ion-item>
		<li ng-repeat = "service in selectedDevice.services track by service.uuid" ng-show = "service.uuid == serial_service_uuid">
		  <div class="list card">
			<div class="item item-divider" ui-sref = "blueService({address:selectedDevice.address, service:service.uuid})">Serial Conection Service</div>
			<div  class="item item-body">
			  <p>{{service.uuid}}</p>
			  <p>{{service.characteristics}}</p>
			</div>
		  </div>
		</li>

        <button class="button button-stable button-block " ng-click="connect(selectedDevice.address)">Connect</button>
        <button class="button button-stable button-block " ng-click="close(selectedDevice.address)">Disconnect</button>
        <button class="button button-stable button-block " ng-click="discover(selectedDevice.address)">Discover</button>

	<ion-list ng-repeat = "error in errors_l track by $index">
		<div class = item item-divider>Mssg</div>
		<div  class="item item-body">
		  <p>{{error}}</p>
		</div>
	  </div>
	</ion-list>
  </ion-conente>
</ion-view>
